<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baniimei">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_100"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme"
        android:screenOrientation="portrait">
        <activity android:name=".activitati.ClasamentActivity" />
        <activity android:name=".activitati.RuletaActivity" />
        <activity android:name=".activitati.CapitoleJocActivity" />
        <activity
            android:name=".activitati.InfoActivity"
            android:label="Informatii"
            android:theme="@style/Theme.BaniiMei.ActionBar" />
        <activity android:name=".activitati.JocActivity" />
        <activity android:name=".activitati.SetariActivity" />
        <activity
            android:name=".activitati.CapitoleInfoActivity"
            android:label="Capitole"
            android:theme="@style/Theme.BaniiMei.ActionBar" />
        <activity android:name=".activitati.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".clase.Notificare" />

        <service android:name=".clase.SunetFundalService" />
    </application>

</manifest>