<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baniimei">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_100"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".activitati.ClasamentActivity"></activity>
        <activity android:name=".activitati.RoataActivity" />
        <activity android:name=".activitati.CapitoleJocActivity" />
        <activity android:name=".activitati.InfoActivity" />
        <activity android:name=".activitati.JocActivity" />
        <activity
            android:name=".activitati.SetariActivity"
            android:parentActivityName=".activitati.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitati.CapitoleInfoActivity"
            android:parentActivityName=".activitati.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitati.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".clase.Notificare" />

        <service android:name=".clase.SunetFundalService" />
    </application>

</manifest>